# JMeter Results
*.jtl

# Logs
*.log

# Ignore generated report contents
reports/*
results/*

# Keep folder structure
!reports/.gitkeep
!results/.gitkeep

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini