# --------------------------
# JMeter Results
# --------------------------
*.jtl
*.csv
*.log

# Keep sample result folders
!results/
!results/.gitkeep

# --------------------------
# Generated Reports
# --------------------------
reports/*
!reports/
!reports/.gitkeep

# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# --------------------------
# VS Code
# --------------------------
.vscode/

# --------------------------
# Windows
# --------------------------
Thumbs.db
Desktop.ini

# --------------------------
# Environment Variables
# --------------------------
.env
.env.*